@using MvcOnlineTicariOtomasyon.Models.Classes;
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CurrentName</td>
            <td>@x.CurrentLastName</td>
            <td>@x.CurrentCity</td>
            <td>@x.CurrentMail</td>
            <td><a href="/Current/CurrentDelete/@x.CurrentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Current/CurrentGet/@x.CurrentId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Current/CustomerSell/@x.CurrentId" class="btn btn-default" style="background-color:lightcoral">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Current/CurrentAdd" class="btn btn-info">Yeni Cari Ekle</a>

