@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Messages>

@foreach (var item in Model)
{


<div class="timeline timeline-inverse">

    <!-- timeline time label -->

    <div class="time-label">

        <span class="bg-blue">

           @item.Date

        </span>

    </div>

    <!-- /.timeline-label -->
    <!-- timeline item -->

    <div>

        <i class="fas fa-envelope bg-primary"></i>

        <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> @item.Date.ToShortTimeString()</span>

            <h3 class="timeline-header"><a href="#">@item.Subject</a></h3>

            <div class="timeline-body">
                @item.Content
            </div>
        </div>

    </div>

    <!-- END timeline item -->
    <!-- timeline item -->

    <div>

        <i class="fas fa-user bg-info"></i>

        <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

            <h3 class="timeline-header border-0">

                <a href="#">Sarah Young</a> accepted your friend request

            </h3>

        </div>

    </div>

    <!-- END timeline item -->
    <!-- timeline item -->

    <div>

        <i class="fas fa-comments bg-warning"></i>

        <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

            <div class="timeline-body">

                Take me to your leader!

                Switzerland is small and neutral!

                We are more like Germany, ambitious and misunderstood!

            </div>

            <div class="timeline-footer">

                <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>

            </div>

        </div>

    </div>
    <div>

        <i class="far fa-clock bg-gray"></i>

    </div>

</div>
}